h3{
	font-family: "Roboto";
	font-weight: 500;
	color: white;
	text-align: center;
	padding-bottom: 2%;	
	font-size: 22px;
}


@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
   }

p{
	font-weight: 100;
}

#project_info {
	border: 4px solid white;
	width: 45%;
	margin-top: 2%;
	margin-bottom: 5%;
	padding-top: 5%;
	text-align: center;
	margin-left: 28%;
	border-radius: 14px;
}

@media screen and (max-width: 768px) {

#project_info{
	width: 80%;
	margin-left: 10%;
}

}

#project_info p{
	margin-left: 10%;
	margin-right: 10%;
}

input[type=submit]
{
margin-bottom: 20px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
background-color: #1abc9b;
color: aliceblue;
font-size:15px;
cursor:pointer;
}
