body{
	margin: 0 auto;
}

@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
   }
   
#header{
	background: #1abc9c;
	font-family: "Roboto";
	width:100%;
	margin: 0 auto;
}

#headerer{
	background: #1abc9c;
	font-family: "Roboto";
	width:100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

#headerer a{
	text-decoration: none;
	color: white;
	font-weight: 600;
	text-align: center;
}

#headerer a:hover {

	color:#ececec;
	transition:1s all ease;
}

#header h1{
	font-family: "Muller";
	color: white;
	font-size: 3 em;
	text-align: center;
	padding-top: 0.1%;
}

#headerer h1{
	font-family: "Muller";
	color: white;
	font-size: 3 em;
	text-align: center;
	padding-top: 0.1%;
	margin-bottom: 5%;
}

@media screen and (max-width: 768px) {

#header h1{
	font-size: 2.5 em;
}

#headerer h1{
	font-size: 2.5 em;
}

}

#header h3{
	font-family: "Roboto";
	font-weight: 100;
	color: white;
	text-align: center;
	
	padding-bottom: 2%;	
}

#headerer h3{
	font-family: "Roboto";
	font-weight: 100;
	color: white;
	text-align: center;
	
	padding-bottom: 7%;	
}

@media screen and (max-width: 768px) {

#header h3{
	font-size: 1 em;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 10%;
}

#headerer h3{
	font-size: 1 em;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 10%;
}

}

#header span{
	font-weight: bold;
}

#logo{
	height: 20%;
	width: 100%;
	text-align: center;
	padding-top: 10%;
}

#logo img{
max-height: 100%;	
}

#register{
	text-align: center;
	
}

#textbox { 
    /*border-radius: 5px;
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left: 50px;*/
   box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
    
} 

#main_part h2{
	font-family: "Roboto";
	font-weight: 100;
	color: #1abc9c;
	text-align: center;
	padding: 2%;
}

@media screen and (max-width: 768px) {

#main_part h2{
	font-size: 1.6 em;
}

}


input[type=submit]{
	background: #10826b;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    margin-top: 2%;
    margin-bottom: 1%;
}

/*#register input[type=text]:focus, input[type=password]:focus{
	 -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
    
}*/

#textbox:focus{
	-moz-box-shadow: 0 0 8px #55ad9c;
    -webkit-box-shadow: 0 0 8px #55ad9c;
    box-shadow: 0 0 4px #55ad9c;
    border: 1px solid #55ad9c;
}

#info_header{
	background: #1abc9c;
	font-family: "Roboto";
	width: 100%;
	margin: 0 auto;
}

#info_header h1, h3{
	font-family: "Roboto";
	font-weight: 100;
	color: white;
	text-align: center;

}

#info_header h3{
	padding-bottom: 3%;
}

#info_header h1{
	padding: 3%;
}

#register a{
  text-decoration: none;
  color: #8db3ac;
  font-size: 80%;
  font-family: "Roboto";
  padding-left: 1%;
  font-weight: bold;
}

#register a:hover{
	color:#ff835d;
	transition:2s all ease;
}


