html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body{

}


@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
   }

a {

	color: #1abc9c;
	text-decoration: none;
	font-weight: 100;
	font-family: "Roboto";
	

}

a:hover {

	color:#ff835d;
	transition:1s all ease;
}

header {

	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #1abc9c;
	z-index: 100;

}

#logo{
    margin: 27px;
	float: left;
	width: 200px;
	height: 40px;
	display: block;
	font-size: 160%;
}



nav {

	float: right;
	padding: 20px;	

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #1abc9c url(menus.png) no-repeat center;

}

a:hover#menu-icon {

	background-color: #1abc9c;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 13px

}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {


	#logo{
		margin: 20px; 
	}
	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 3px solid #1abc9c;
		right: 20px;
		top: 60px;
		width: 20%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}

section {

	margin: 80px auto 40px;
	height: auto;
	position: relative;
	padding: 10px;
	font-family: "Roboto";
	background: #1abc9c;
	
}

#main_sec h2 {

	font-size: 2em;
	color: #fff;
	line-height: 1.15em;
	margin: 20px 0 ;
	font-weight: 600;
	text-align: center;

}

@media only screen and (max-width : 640px) {
	#main_sec h2 {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
}

#main_sec p {

	line-height: 1.45em;
	margin-bottom: 20px;
	font-weight: 100;
	color: #fff;
	text-align: center;

}

#main_sec span{
	font-weight: 500;
}

#picture_sec{
	text-align: center;
}

/*--------------------- Form Styling ---------------------*/
#envelope{
	text-align: center;
	width: 50%;
	margin: 10px 30% 10px 25%;
	padding:10px 0;
	border: 2px solid white;
	border-radius:10px;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
#envelope{
width: 90%;
margin-top: 4%;
margin-bottom: 4%;
margin-left: 4%;
margin-right: 4%;

}
	
}


form{
width:70%;
margin:4% 15%;
}

input[type=text]{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
}

input[type=password]{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
}

input[type=date]{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
}

::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-inner-spin-button { display: none; }


input[type=submit]
{
margin-bottom: 20px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
background-color: #1abc9b;
color: aliceblue;
font-size:15px;
cursor:pointer;
}

#submit:hover{
border:1px solid white;
}



textarea{
width:100%;
padding: 15px;
margin-top: 10px;
border:1px solid #7ac9b7;
border-radius:5px;
margin-bottom: 20px;
resize:none;
}

input[type=text]:focus,textarea:focus {
border:5px solid #7ac9b7;



}

input[type=password]:focus,textarea:focus {
border:5px solid #7ac9b7;



}

label{
font-size: 17px;
color: white;

}

#addDynamicExtraFieldButton{
margin-bottom: 20px;
display:inline;
width:15%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
background-color: #1abc9b;
color: aliceblue;
font-size:15px;
cursor:pointer;
}

.DeleteDynamicExtraField{
margin-bottom: 0px;
margin-left: 3%;
display:inline;
width:15%;
padding: 7px;
border-radius:5px;
border:1px solid #7ac9b7;
background-color: #1abc9b;
color: aliceblue;
font-size:15px;
cursor:pointer;
}

#addDynamicExtraFieldButton:hover{
border:1px solid white;
}

.DeleteDynamicExtraField:hover{
	border:1px solid white;
}

@media screen and (max-width: 768px) {

#addDynamicExtraFieldButton{

width: 25%;
	
}

.DeleteDynamicExtraField{
width: 20%;

}
	
}

#req{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
color: grey;	
}

#req:focus{
	border:5px solid #7ac9b7;
}










